body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}

 @font-face {
  font-family: barlow;
  src: url(Barlow-Regular.ttf);
}

@font-face {
  font-family: paytone;
  src: url(PaytoneOne-Regular.ttf);
}

.title {
  font-family: paytone;
  text-align: center;
  color: rgb(193, 0, 0);
  font-size: calc(2rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}

h2 {
  font-family: paytone;
  color: rgb(193, 0, 0);
  font-weight: 300;
  line-height: 1.2;
  border-bottom-color: rgb(193, 0, 0);
}

.red-border {
  border-color: rgb(193, 0, 0);
  --bs-border-color: rgb(193, 0, 0);
}



h4 {
  color: rgb(255, 255, 255);
  font-size: calc(1.1rem + .3vw);
}

.nav-link {
  color: rgb(193, 0, 0);
  font-family: barlow;
}

.nav-link:hover {
  color: #ffffff;
}

svg {
  fill: rgb(193, 0, 0);
}

li a:hover,
li a:hover svg {
  color: white; /* Text color on hover */
  fill: white;  /* SVG color on hover */
}

li a {
  color: rgb(193, 0, 0); 
  transition: color 0.3s ease; 
}

li a svg {
  fill: rgb(193, 0, 0); 
  transition: fill 0.3s ease; 
  width: 24px; 
  height: 24px; 
}

@media (min-width: 600px) {
  .title {
    font-size: calc(2.5rem + 4.5vw);
  }
  li a svg {
    width: 30px; 
    height: 30px; 
  }
}
@media (min-width: 1000px) {
  .title {
    font-size: 8rem;
  }
  li a svg {
    width: 50px; 
    height: 50px; 
  }
  .nav-link {
    font-size: 1.15rem;
  }
}